
body {
  overflow-y: scroll;
}

#header {
  font-family: 'Nothing You Could Do', cursive;
}

#header .title {
  font-size:32px;
  margin-top:10px;
}

#header .title a {
  color: #000;
  text-decoration:none;
}

#header .menu a {
  font-size:18px;
  margin-right:15px;
  text-decoration:none;
}


.bird_field_row {
  margin-bottom:8px; 
}

.bird_field_name, .field_name, label {
  background-color:#EEE;
  font-weight:bold;
}

.bird_column_header {
  background-color:#AAA;
  font-weight:bold;
}

.bird_title {
  display:inline;
  font-size:2em;
  margin-right:20px;
}

.edit_button {
  float:left;
  width:30px;
  height:15px;
  background-color:#F6B26B;
  color:#000;
  border:3px solid #F9CB9C; 
}

.even_row {
  background-color: #EEE;
}

.odd_row {
  background-color: #FFF;
}


textarea {
  width:400px;
  height:150px;
  margin:0px;
}

input[type="text"] {
  width:400px;
  margin:0px;
}

.search_form {
}

.search_form input[type="text"] {
  width:200px;
}

.search_form a {
  font-size:0.9em;
}

ul.ui-sortable {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

#search_form .sortable {
  width:100%;
  padding: 2px 0px;
  font-size: 0.8em;
}


#search_form .sortable li {
  padding:1px 1px 1px 15px;
  margin:1px 0px;
  background-color:#EEE;
  cursor:move;
}

#search_form .sortable li span.ui-icon {
  float:left;
  margin-left:-15px;
}




