
body {
  overflow-y: scroll;
}

#header {
  font-family: 'Nothing You Could Do', cursive;
}

#header .title {
  font-size:32px;
  margin-top:10px;
}

#header .title a {
  color: #000;
  text-decoration:none;
}

#header .menu a {
  font-size:18px;
  margin-right:15px;
  text-decoration:none;
}

.bird_button {
  padding: 3px 3px 3px 15px;
}

.bird_butonn .ui-icon {
  float:left;
  margin-left:-17px;
}


/* Birds List Table */
#birds_table tr.mouseover, #birds_table td.mouseover {
  background-color:#E6E6E6;
  cursor:pointer;
}

#birds_table td, th{
  border-top:1px solid Lightgray;
  border-right:1px solid Lightgray;
}

table#birds_table {
  border-left:1px solid Lightgray;
  border-bottom:1px solid Lightgray;

}

/* Single Bird Report Page*/

.bird_title {
  font-size:2em;
}

.bird_row {
  margin-bottom: 10px;
}

.bird_field_group_name h3 {
  margin-bottom:0.1em;
}


label,
.bird_field_name {
  font-weight: normal;
  background-color:#EEE;
  padding: 2px 12px 2px 2px;
  color:#555;
}

label a, 
.bird_field_name a {
  margin-right:-12px;
}

.bird_field_description {
  font-size:0.8em;
  margin-top:2px;
}

textarea {
  width:400px;
  height:150px;
  margin:0px;
}

input[type="text"] {
  width:400px;
  margin:0px;
}

/* General JQuery Sortable */

ul.ui-sortable {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

ul.ui-sortable li {
  padding-left:15px;
}

ul.ui-sortable li span.ui-icon-arrow-4 {
  float:left;
  margin-left:-15px;
  cursor:move;
}

ul.ui-sortable .ui-state-highlight {
  height: 1.5em; line-height: 1.2em;
}

/* Search Form */

.search_form {
}

.search_form input[type="text"] {
  width:200px;
}

.search_form a {
  font-size:0.9em;
}

div#advanced_search, 
div#advanced_search input {
  font-size: 0.9em;
}

div#advanced_search .sortable {
  width:100%;
  padding: 4px 2px;
  font-size: 0.8em;
}


#advanced_search .sortable li {
  padding:1px 1px 1px 15px;
  margin:1px 0px;
  background-color:#FFF;
  cursor:move;
}

/* Query Phrase */
.query_phrase {
  font-size:0.8em;
  color:#555;
}



/* Edit Schema Styles*/

form.edit_schema ul#schema_fields li {
  border-bottom: none;
}


form.edit_schema ul#schema_fields li label {
  background-color:inherit;
}

form.edit_schema ul#schema_fields li a {
  float:right;
}



