<div class="span-24 append-bottom">
  <div class="bird_title"><%= @org_style.name %></div>

  <%= link_to "delete this organization style", org_style_path(@org_style), :method => "delete", :confirm => "Are you sure you want to delete the organization style? This cannot be un-done.", :style=>"float:right;"%>
</div>


<%= render :partial => "form" %>
