<div class="span-24">

<table id="birds_table">
  <thead>
    <% @query.view_fields.each do |f_key|%>
      <th><%= @bird_schema.field_name_with_key(f_key) %></th>
    <%end%>
  </thead>
  <tbody>
    <% birds_list.each_with_index do |bird, i| %>
      <tr data-bird_id="<%=bird.id%>" class="bird_list_row">
        <%= render :partial => "bird", :locals => { :bird => bird, :i => i,
                                                    :only_fields => @query.view_fields} %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    $("#flexi_table").flexigrid()
  });
  
  $("#birds_table tr.bird_list_row").bind({
    mouseover: function(){
      $(this).addClass("mouseover")
      $(this).children("td").addClass("mouseover")
    }, 
    mouseout: function(){
      $(this).removeClass("mouseover")
      $(this).children("td").removeClass("mouseover")
    },
    click: function(){
      window.location = "/birds/"+$(this).attr("data-bird_id")
    }
  })
</script>

</div>
