
<%= render "search_form" %>


<div class="span-24">
  <%= link_to "Create A New Bird", new_bird_path %>
</div>

<div id="search_results">
  <%= render :partial => "birds_list", :object => @birds %>
</div>

