<div class="span-24 append-bottom">  
<div class="bird_title"><%= @bird.name %></div>
<%= link_to "Edit this bird", edit_bird_path(@bird), :style => "float:right;" %>
</div>



<% @bird_schema.schema_fields.each do |field|%>

  <div class="span-24 bird_field_row">
    <div class="span-4 bird_field_name"><%= field.description %></div>
    <div class="span-19 last bird_field_data">

        <%= render :inline => field.render_value(@bird), :locals => {:obj => @bird}  %>

    </div>
  </div>

<% end %>

